<h1>Notes</h1>

<%= link_to "New note", new_note_path if authenticated? %>

<div id="notes">
  <% @notes.each do |note| %>
    <div>
        <%= link_to note.name, note %>
    </div>
  <% end %>
</div>
